@page
@model BookClub.UI.Pages.BookListModel
@{
    ViewData["Title"] = "Book List";
}

<h1>Book List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Genre)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

