@page
@model BookListModel
@{
    ViewData["Title"] = "Book List";
}

<h1>Book List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Submitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Classification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Thumbnail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].PageCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                <a href="@item.InfoLink"><img src="@item.Thumbnail" /></a>
            </td>
            <td>
                @Html.DisplayFor(model => item.PageCount)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description, new { htmlAttributes = new { style = "white-space: pre-line" } })
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

