@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
@if (!string.IsNullOrEmpty(Model.ApiRoute))
{
<p>
    <strong>API Route:</strong> <code>@Model.ApiRoute</code>
    <br />
    <strong>API Status:</strong> <code>@Model.ApiStatus</code>
    <br />
    <strong>API ErrorID:</strong> <code>@Model.ApiErrorId</code>
    <br />
    <strong>API Title:</strong> <code>@Model.ApiTitle</code>
    <br />
    <strong>API Detail:</strong> <code>@Model.ApiDetail</code>
</p>
}
